
.mif-tree-wrapper [class^="icon-"]:before, .mif-tree-wrapper [class*=" icon-"]:before {
    font-family: 'IcoMoon';
    font-style: normal;
}

.mif-tree-wrapper [class^="icon-"], .mif-tree-wrapper [class*=" icon-"] {
    display: inline;
    height: 14px;
    line-height: 14px;
    width: 14px;
}

h3.log{
margin:1em 0;
}

.fixed
{
	width:150px;
	display: inline-block;
}

.nonfixed
{
display: inline-block;
}

#log{
white-space:nowrap;
width:300px;
height:200px;
border:solid 1px #cfcad2;
}

ol#log li{
margin-left:30px;
}

ol#log{
overflow:auto;
}


.tree_container{
min-height:20px;
width:300px;
width:100%;
position:relative;
padding-bottom: 10px;
margin-bottom: 10px;
/*border:solid 1px #b7b7b7;*/
border-bottom:solid 1px #b7b7b7;
}


/*@global*/
/*mif-tree-children-root .mif-tree-node-last 
#mif-tree-1 .mif-tree-children{
border:solid 1px #b7b7b7;
}
*/

.state 
{
	background-repeat: no-repeat;
	padding: 0;
	vertical-align: middle; 
	/*text-top;*/
	/*background-position: 0 50%;*/
}

.mif-tree-wrapper{
position: relative; /*absolute;*/
width: 100%;
height:100%;
margin:0;
padding:0;
overflow:auto;
font-family:sans-serif;
font-size:11px;
line-height:18px;/******Tree node height******/
white-space:nowrap;
cursor:default;
}

.mif-tree-bg{
width:100%;
height:100%;
position:absolute;
overflow:hidden;
}

.mif-tree-bg-container{
width:100%;
display:none;
}

.mif-tree-bg-node{
width:100%;
height:18px;
}

.mif-tree-bg-selected{
background-color:#dcd7ab;
}

.mif-tree-wrapper:focus{
outline:0;
}

.mif-tree-wrapper span{
padding-bottom:2px;
padding-top:2px;
cursor:inherit;
}

.mif-tree-children{
padding-left:18px;
width:18px;
}

.mif-tree-node{
width:18px;
background:url('../images/miftree/line.gif') repeat-y 8px 0px;
}

.mif-tree-node-last{
background:url('../images/miftree/line.gif') no-repeat 8px 0px;
}

.mif-tree-node-root-first{
/*background:none no-repeat 0px 0px;*/
background:url('../images/miftree/line.gif') no-repeat 8px 8px;
}


.mif-tree-node-root-first .root-first{
background:none no-repeat 0px 0px;
/*background:url('../images/miftree/line.gif') no-repeat 8px 0px;*/
}


.mif-tree-name{
cursor: default;
overflow:hidden;
margin-left:4px;
}

.mif-tree-name a{
color:red;
}

.mif-tree-name a:hover{
/*color:blue;*/
}


.mif-tree-node-wrapper{
background:url('../images/miftree/horizontal-line.gif') no-repeat 9px center;
}

/*@gadjets*/

.mif-tree-gadjet{
background-image:url('../images/miftree/gadjets.gif');
padding-right: 16px;
z-index:1;
overflow:hidden;
background-repeat:no-repeat;
cursor:default;
}

.mif-tree-gadjet-none{
background:none;
}

.mif-tree-gadjet-minus{
background-position: 0px 50%;
}

.mif-tree-gadjet-plus{
background-position: -18px 50%;
}


.mif-tree-gadjet-hover .mif-tree-gadjet-minus{
background-position: -54px 50%;
}

.mif-tree-gadjet-hover .mif-tree-gadjet-plus{
background-position: -72px 50%;
}




/*.mif-tree-gadjet-hover{
background-image:url('../images/miftree/gadjets-hover.gif');
}*/




/*@icons*/
.mif-tree-icon{
padding-right:18px;
background-position:0 50%;
background-repeat:no-repeat;
cursor:inherit;
}

.mif-tree-open-icon{
background-image:url('../images/miftree/openicon.gif')
}

.mif-tree-close-icon{
background-image:url('../images/miftree/closeicon.gif')
}


.mif-tree-loader-open-icon,.mif-tree-loader-close-icon{
background-image:url('../images/miftree/mootree_loader.gif');
}

.mif-tree-book-icon{
background-image:url('../images/miftree/book_icon.gif');
}

.mif-tree-bin-open-icon{
background-image:url('../images/miftree/bin_open_icon.gif');
}

.mif-tree-bin-close-icon{
background-image:url('../images/miftree/bin_close_icon.gif');
}





/*@selection*/

.mif-tree-node-selected .mif-tree-name
{
/*
, .mif-tree-node-selected .mif-tree-name a {
*/
	padding-left:5px;
	padding-right:5px;
	padding-top:0px;
	padding-bottom:0px;
	
	border: 1px solid silver;
	background-color: #F0F0EE;
	/*
	background-color: #E7EDDF;
	border: 1px solid #6D9D2E;
	*/
/*
color:grey;
background-color: yellow;
*/
/*
background-color: #010161;
color:#fff;
*/
text-transform:italic;
}

.mif-tree-highlighter{
height:18px;
overflow:hidden;
width:100%;
background:#b64553;
position:absolute;
}



/*@d'n'd*/
.mif-tree-pointer{
height:1px;
overflow: hidden;
position: absolute;
background-image:url('../images/miftree/1.gif');
background-repeat:repeat-x;
background-color:#292fef;
}


.mif-tree-ghost{
background-color:#fff;
border:solid 2px #e8e8f7;
padding-left:2px;
}

.mif-tree-ghost .mif-tree-node-wrapper{
background:none;
}

.mif-tree-ghost span.mif-tree-text{
padding-top:1px;
padding-bottom:1px;
}

.mif-tree-ghost-icon{
padding-left:16px;
background-color:#fff;
background-repeat:no-repeat;
background-image:url('../images/miftree/dropzone.gif');
}

.mif-tree-ghost-after{
background-position:-64px 2px;
}

.mif-tree-ghost-before{
background-position:-48px 2px;
}

.mif-tree-ghost-between{
background-position:-16px 2px;
}

.mif-tree-ghost-inside{
background-position:-0px 2px;
}

.mif-tree-ghost-notAllowed{
background-position:-32px 2px;
}

.mif-tree-drag-current{
background-color:#cfcfd8;
}

.mif-tree-replace{
background-color:#99c8fb;
}


/*@checkbox*/
.mif-tree-checkbox{
padding-left:18px;
background-image:url('../images/miftree/checkboxes.gif');
background-repeat: no-repeat;
}

.mif-tree-node-checked{
background-position:0px center;
}

.mif-tree-node-unchecked{
background-position:-18px center;
}

.mif-tree-node-nochecked{
background-position:-108px center;
}

.mif-tree-hover-checkbox .mif-tree-node-checked{
background-position:-36px center;
}

.mif-tree-hover-checkbox .mif-tree-node-unchecked{
background-position:-54px center;
}



/*@rename*/
.mif-tree-rename{
display: inline;
line-height: 14px;
height:14px;
cursor: default;
overflow:hidden;
font-family:sans-serif;
font-size:11px;
padding:1px 0;
border:solid 1px black;
}