


/*
.checkedout {
    background-image: url("../images/admin/checked_out.png");
}
*/
.icon-32-checkin {
	background-image: url("../media/images/icons/base/icon-32-unlock.png") !important;
}

.icon-32-checkout {
	background-image: url("../media/images/icons/base/icon-32-lock.png") !important;
}


.icon-32-apply_order {
	background-image: url("../media/images/icons/base/icon-32-apply_order.png") !important;
}

.icon-32-save_order {
	background-image: url("../media/images/icons/base/icon-32-save_order.png") !important;
}



#form_content a.countItems span.countItemsIcon
{
	background-image: url("../media/images/icons/base/icon-16-numbers.png");
}

#form_content a.saveReorder span.saveReorderIcon
{
/*, .jgrid span.publish*/
	background-image: url("../media/images/icons/base/icon-16-sort_save.png"); /* !important;*/
	/*background-image: url("../media/images/icons/base/icon-16-switch_tick.png") !important;*/
}

#form_content a.reorder span.reorderIcon
{
/*, .jgrid span.publish*/
	background-image: url("../media/images/icons/base/icon-16-sort_number.png"); /* !important;*/
	/*background-image: url("../media/images/icons/base/icon-16-switch_tick.png") !important;*/
}

#form_content a.saveReorder:hover
{
	cursor: pointer;
}

#form_content th .div_reorder_rows_arrows_th_icon, #form_content th .th_icon
{
	width:16px;
	margin-left: auto;
	margin-right: auto;
}

#form_content .jgrid span.publish
{
/*, .jgrid span.publish*/
	background-image: url("../media/images/icons/base/icon-16-tick.png"); /* !important;*/
	/*background-image: url("../media/images/icons/base/icon-16-switch_tick.png") !important;*/
}

#form_content .jgrid span.unpublish, .jgrid span.archive
{
	background-image: url("../media/images/icons/base/icon-16-cross.png"); /* !important;*/
	/*background-image: url("../media/images/icons/base/icon-16-switch_cross.png") !important;*/
}

#form_content .jgrid span.trash, .jgrid span.archive
{
	background-image: url("../media/images/icons/base/icon-16-trash.png"); /* !important;*/
	/*background-image: url("../media/images/icons/base/icon-16-switch_cross.png") !important;*/
}

#form_content .jgrid span.archive, .jgrid span.archive
{
	background-image: url("../media/images/icons/base/icon-16-archive.png"); /* !important;*/
	/*background-image: url("../media/images/icons/base/icon-16-switch_cross.png") !important;*/
}


/**
input_button
*/
#form_content .input_button.state_publish, .input_button.state_publish
{
	background-image: url("../media/images/icons/base/icon-16-tick_switch.png");
}

#form_content .input_button.state_unpublish, .input_button.state_unpublish
{
	background-image: url("../media/images/icons/base/icon-16-cross_switch.png");
}

#form_content .input_button.state_archive, .input_button.state_archive
{
	background-image: url("../media/images/icons/base/icon-16-archive_switch.png");
}

#form_content .input_button.state_delete, .input_button.state_delete
{
	background-image: url("../media/images/icons/base/icon-16-trash_delete.png");
}

#form_content .input_button.state_trash, .input_button.state_trash
{
	background-image: url("../media/images/icons/base/icon-16-trash_switch.png");
}

#form_content .content_category_blog
{
	background-image: url("../media/images/icons/components/content/category/blog/icon-16-category-blog.png");
}


.icon-32-publish
{
	/*
	background-image: url("../media/images/icons/base/icon-16-tick.png") !important;
	background-image: url("../media/images/icons/base/icon-32-24-tick.png") !important;
	background-image: url("../media/images/icons/base/icon-32-switch_tick.png") !important;
	*/
	background-image: url("../media/images/icons/base/icon-32-tick_switch.png") !important;
}

.icon-32-unpublish
{
	/*background-image: url("../media/images/icons/base/icon-16-cross.png") !important;*/
	/*
	background-image: url("../media/images/icons/base/icon-32-24-cross.png") !important;
	background-image: url("../media/images/icons/base/icon-32-cross.png") !important;
	background-image: url("../media/images/icons/base/icon-32-switch_cross.png") !important;
	*/
	background-image: url("../media/images/icons/base/icon-32-cross_switch.png") !important;
}

.icon-32-archive
{
	background-image: url("../media/images/icons/base/icon-32-archive_switch.png") !important;
}

.icon-32-trash
{
	background-image: url("../media/images/icons/base/icon-32-trash_switch.png") !important;
}


.icon-32-delete
{
	background-image: url("../media/images/icons/base/icon-32-trash_delete.png") !important;
}

.icon-32-pi 
{
/*	background-repeat: no-repeat;
	margin-left: 10px;
	padding-left: 42px;
*/
	background-image: url("../media/images/icons/icon-32-pi.png");
/*	min-height: 32px;*/
}
/*
?????
*/
/*
.icon-32-refresh 
{
	background-image: url("../media/images/icons/icon-32-refresh.png");
}
*/

/* -- ICON STYLES -ONLY J3---------------------------- */
.icon-16-archive					{	background-image: url(../media/images/j25/menu/icon-16-archive.png);	}
.icon-16-article					{	background-image: url(../media/images/j25/menu/icon-16-article.png);	}
.icon-16-banners					{	background-image: url(../media/images/j25/menu/icon-16-banner.png);	}
.icon-16-banners-clients			{	background-image: url(../media/images/j25/menu/icon-16-banner-client.png);	}
.icon-16-banners-tracks				{	background-image: url(../media/images/j25/menu/icon-16-banner-tracks.png);	}
.icon-16-banners-cat				{	background-image: url(../media/images/j25/menu/icon-16-banner-categories.png);	}
.icon-16-category					{	background-image: url(../media/images/j25/menu/icon-16-category.png);	}
.icon-16-checkin					{	background-image: url(../media/images/j25/menu/icon-16-checkin.png);	}
.icon-16-clear						{	background-image: url(../media/images/j25/menu/icon-16-clear.png);	}
.icon-16-component					{	background-image: url(../media/images/j25/menu/icon-16-component.png);	}
.icon-16-config						{	background-image: url(../media/images/j25/menu/icon-16-config.png);	}
.icon-16-content					{	background-image: url(../media/images/j25/menu/icon-16-content.png);	}
.icon-16-contact					{	background-image: url(../media/images/j25/menu/icon-16-contacts.png);	}
.icon-16-contact-cat				{	background-image: url(../media/images/j25/menu/icon-16-contacts-categories.png);	}
.icon-16-cpanel						{	background-image: url(../media/images/j25/menu/icon-16-cpanel.png);	}
.icon-16-default					{	background-image: url(../media/images/j25/menu/icon-16-default.png);	}
.icon-16-featured					{	background-image: url(../media/images/j25/menu/icon-16-featured.png);	}
.icon-16-groups						{	background-image: url(../media/images/j25/menu/icon-16-groups.png);	}
.icon-16-help						{	background-image: url(../media/images/j25/menu/icon-16-help.png);	}
.icon-16-help-this					{	background-image: url(../media/images/j25/menu/icon-16-help-this.png);	}
.icon-16-help-forum					{	background-image: url(../media/images/j25/menu/icon-16-help-forum.png);	}
.icon-16-help-docs					{	background-image: url(../media/images/j25/menu/icon-16-help-docs.png);	}
.icon-16-help-jed					{	background-image: url(../media/images/j25/menu/icon-16-help-jed.png);	}
.icon-16-help-jrd					{	background-image: url(../media/images/j25/menu/icon-16-help-jrd.png);	}
.icon-16-help-trans					{	background-image: url(../media/images/j25/menu/icon-16-help-trans.png);	}
.icon-16-help-community				{	background-image: url(../media/images/j25/menu/icon-16-help-community.png);	}
.icon-16-help-security				{	background-image: url(../media/images/j25/menu/icon-16-help-security.png);	}
.icon-16-help-dev					{	background-image: url(../media/images/j25/menu/icon-16-help-dev.png);	}
.icon-16-help-shop					{	background-image: url(../media/images/j25/menu/icon-16-help-shop.png);	}
.icon-16-info						{	background-image: url(../media/images/j25/menu/icon-16-info.png);	}
.icon-16-install					{	background-image: url(../media/images/j25/menu/icon-16-install.png);	}
.icon-16-language					{	background-image: url(../media/images/j25/menu/icon-16-language.png);	}
.icon-16-levels						{	background-image: url(../media/images/j25/menu/icon-16-levels.png);	}
.icon-16-logout						{	background-image: url(../media/images/j25/menu/icon-16-logout.png);	}
.icon-16-maintenance				{	background-image: url(../media/images/j25/menu/icon-16-maintenance.png);	}
.icon-16-massmail					{	background-image: url(../media/images/j25/menu/icon-16-massmail.png);	}
.icon-16-media						{	background-image: url(../media/images/j25/menu/icon-16-media.png);	}
.icon-16-menu						{	background-image: url(../media/images/j25/menu/icon-16-menu.png);	}
.icon-16-menumgr					{	background-image: url(../media/images/j25/menu/icon-16-menumgr.png);	}
.icon-16-messages					{	background-image: url(../media/images/j25/menu/icon-16-messaging.png);	}
.icon-16-messages-add				{	background-image: url(../media/images/j25/menu/icon-16-new-privatemessage.png);	}
.icon-16-messages-read				{	background-image: url(../media/images/j25/menu/icon-16-messages.png);	}
.icon-16-module						{	background-image: url(../media/images/j25/menu/icon-16-module.png);	}
.icon-16-newarticle					{	background-image: url(../media/images/j25/menu/icon-16-newarticle.png);	}
.icon-16-newcategory				{	background-image: url(../media/images/j25/menu/icon-16-newcategory.png);	}
.icon-16-newgroup					{	background-image: url(../media/images/j25/menu/icon-16-newgroup.png);	}
.icon-16-newlevel					{	background-image: url(../media/images/j25/menu/icon-16-newlevel.png);	}
.icon-16-newuser					{	background-image: url(../media/images/j25/menu/icon-16-newuser.png);	}
.icon-16-plugin						{	background-image: url(../media/images/j25/menu/icon-16-plugin.png);	}
.icon-16-profile					{	background-image: url(../media/images/j25/menu/icon-16-user.png);	}
.icon-16-purge						{	background-image: url(../media/images/j25/menu/icon-16-purge.png);	}
.icon-16-readmess					{	background-image: url(../media/images/j25/menu/icon-16-readmess.png);	}
.icon-16-redirect					{	background-image: url(../media/images/j25/menu/icon-16-redirect.png);	}
.icon-16-search						{	background-image: url(../media/images/j25/menu/icon-16-search.png);	}
.icon-16-finder						{	background-image: url(../media/images/j25/menu/icon-16-search.png);	}
.icon-16-section					{	background-image: url(../media/images/j25/menu/icon-16-section.png);	}
.icon-16-static						{	background-image: url(../media/images/j25/menu/icon-16-static.png);	}
.icon-16-stats						{	background-image: url(../media/images/j25/menu/icon-16-stats.png);	}
.icon-16-themes						{	background-image: url(../media/images/j25/menu/icon-16-themes.png);	}
.icon-16-trash						{	background-image: url(../media/images/j25/menu/icon-16-trash.png);	}
.icon-16-user						{	background-image: url(../media/images/j25/menu/icon-16-user.png);	}
.icon-16-back-user					{	background-image: url(../media/images/j25/menu/icon-16-back-user.png);	}
.icon-16-writemess					{	background-image: url(../media/images/j25/menu/icon-16-writemess.png);	}
.icon-16-newsfeeds					{	background-image: url(../media/images/j25/menu/icon-16-newsfeeds.png);	}
.icon-16-newsfeeds-cat				{	background-image: url(../media/images/j25/menu/icon-16-newsfeeds-cat.png);	}
.icon-16-weblinks					{	background-image: url(../media/images/j25/menu/icon-16-links.png);	}
.icon-16-weblinks-cat				{	background-image: url(../media/images/j25/menu/icon-16-links-cat.png);	}