
/*
import the icons stylesheet
*/
@import "pagesanditemsj3_icons.css";


fieldset.adminform legend {
    margin: 0;
    padding: 0;
    color: #146295;
    font-size: 1.182em;
    font-weight: bold;
    width: -moz-fit-content;
    border-width: 0;
}

fieldset.adminform3options {
    border: none;
    margin-left: 5px;
    margin-right: 5px;
     margin-top: 17px;    
    margin-bottom: 10px;
    padding: 5px;
    text-align: left;
}


fieldset.adminform {
    border: 1px solid #CCCCCC;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;    
    margin-bottom: 10px;
    padding: 5px;
    text-align: left;
}

/*
add for Joomla 3

*/

a.saveorder {
    background: url("../media/images/j25/filesave.png") no-repeat scroll 0 0 transparent;
    display: block;
    float: right;
    height: 16px;
    margin-right: 8px;
    overflow: hidden;
    width: 16px;
}

.control-group .controls .adminformlist li
{
	display: block;
}

.control-group .controls .adminformlist [class*="last"]
{
	margin-top: 10px;
}

.control-group .controls ul
{
	 margin: 0;
}

#submenu.nav-list
{
    display: block;
    position: relative;
    /*width: 100%;*/
}

#submenu.nav-list ul
{
	display: inline;
	list-style-type: none;
	
}

#submenu.nav-list li
{
display: inline-block;
margin-right: 10px;
margin-left: 10px;
}


#sidebar, #sidebar .sidebar-nav
{
display: block;
    position: relative;
    width: 100%;
}

#content .row-fluid .span10
{

width: 100%;
}

#content .row-fluid [class*="span2"]:first-child
{

width: 100%;
}



#general.active, #items.active, #permissions.active, #menus.active
{
	display: block;
}

.piadminform .piheader p
{
	width: 100%;
	/*position: absolute;*/
	position: relative;
}

#content .piadminform .row-fluid .span10 
{
	padding-left:10px;
	padding-right:10px;
	width: 80%;
}

.piadminform .row-fluid .span2 
{
	padding-left:10px;
	padding-right:10px;
	width: 20%;
}

.piadminform .row-fluid .span6
{
	padding-left:10px;
	padding-right:10px;
	width: 49%;
}

#pi_content_pane
{
	padding-left:10px;
	padding-right:10px;
	width: 100%;
}

x.piadminform .row-fluid .tab-content
{
	margin-top: 1px;
    position: relative;
    width: 100%;
}

div.clr {
	clear: both;
	overflow: hidden;
	height: 0;
}

div.width-30 {
	width: 30%;
}

div.width-40 {
	width: 40%;
}

div.fltrt {
    float: right;
}

div.width-60 {
    width: 60%;
}

div.width-70 {
	width: 60%;
}

div.width-100 {
    width: 100%;
}



div.fltlft {
    float: left;
}


h3.pane-toggler-down a:hover, h3.pane-toggler a:hover {
    text-decoration: none;
}

div.panel fieldset {
    border: 0 none;
}

.panel fieldset.panelform {
    clear: both;
    overflow: hidden;
}

.panel fieldset {
    border: 1px solid #CCCCCC;
    margin-bottom: 10px;
    padding: 5px;
    text-align: left;
}

.panel fieldset {
    border: 2px groove threedface;
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    padding: 0.35em 0.625em 0.75em;
}

.pane-sliders .panel h3 {
    background: none repeat scroll 0 0 #FAFAFA;
    color: #666666;
}

.pane-sliders .title {
    color: #666666;
    cursor: pointer;
    margin: 0;
    padding: 2px 2px 2px 5px;
}

.pane-toggler-down {
    border-bottom: 1px solid #CCCCCC;
}

.pane-sliders .content {
    background: none repeat scroll 0 0 #FFFFFF;
}

.pane-toggler span {
    background: url("../media/images/j25/j_arrow.png") no-repeat scroll 5px 50% transparent;
    padding-left: 20px;
}

.pane-sliders .panel {
    border: 1px solid #CCCCCC;
    margin-bottom: 3px;
}

.pane-toggler-down span {
    background: url("../media/images/j25/j_arrow_down.png") no-repeat scroll 5px 50% transparent;
    padding-left: 20px;
}

.panel h3 {
    font-size: 1.182em;
}

.jgrid span.downarrow {
	background-image: url("../media/images/j25/downarrow.png");
}

.jgrid span.uparrow {
	background-image: url("../media/images/j25/uparrow.png");
}

.jgrid span.publish {
    background-image: url("../media/images/j25/tick.png");
}

.jgrid span.unpublish {
    background-image: url("../media/images/j25/publish_x.png");
}


x.jgrid span.state {
    display: inline-block;
    height: 16px;
    width: 16px;
}

.jgrid span.text {
    display: none;
}

.jgrid span.state {
    display: inline-block;
    height: 16px;
}

.radio{
	margin-right: 3px;
}

.checkbox{
	margin-bottom: -3px;
}


.width-500px{
	width: 500px;
}


.display_none3{
	 display: none;
}

.hr_ccc{
	border-top-color: #cccccc;
}

.config_slide_title{
	padding-top: 20px;
	border-top: 1px #cccccc solid;
}

.config_slide_title legend{
	border: none;
}

input.text-area-order{
	width: 20px;
}

td.alignright{
	text-align: right;
}

